<%= render 'form_flight_search' %>
<br>
<% unless @results.nil? || @results.empty?%>
  <table>
    <thead>
      <tr>
        <td>Selected</td>
        <td>From airport</td>
        <td>To airport</td>
        <td>Flight date</td>
      </tr>
    </thead>
  <%= form_for('booking', url: new_booking_path, method: :get) do |f| %>
    <% @results.each do |result| %>
      <tr>
        <td><%= f.radio_button(:flight_id, result.id) %></td>
        <td><%= result.from_airport.code %></td>
        <td><%= result.to_airport.code %></td>
        <td><%= result.departure_time %></td>
      </tr>
    <% end %>
    </table>
    <%= f.number_field :num_tickets, value: params[:flight_search][:num_tickets], type: :hidden %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>
